
    <form method="POST" action="/puppy">
      <h2>Enter a puppy!</h2>
      <p>Puppy name:<input type="text" id="phrase" name="name"></p>
      <p>Puppy breed:<input type="text" id="phrase" name="breed"></p>
      <p>Puppy age:<input type="text" id="phrase" name="age"></p>
      <input type="submit" id="submit">
    </form>
